.app {
  padding: 25px;
  width: 500px;
}
.user-info {
  width: 40%;
  min-width: 500px;
  max-width: 500px;
}
.git-info {
  display: inline-block;
  margin: 10px;
  position: absolute;
}
.user-name a {
  color: blueviolet;
  padding: 25px;
}
.user-info img {
  height: 200px;
  width: 200px;
  padding: 1px;
  margin-left: 2px;
  border-radius: 15px;
}
.search {
  margin-bottom: 20px;
}
.search input {
  width: 50%;
  height: 30px;
}
.actions button {
  width: 240px;
  height: 70px;
  margin: 2px;
  margin-top: 5px;
  margin-left: 2px;
}
